In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
trajectories_df = pd.read_csv('../data/raw/trajectories_df-20240503.csv',
                              index_col=0,
                              dtype = {'FlightID': str, 'Bird': str, 'Age': int,
                                       'Category':str,'Iteration':int,'Time':float,
                                       'Frame': int,'X':float,'Y':float,'Z':float})   

morpho_df = pd.read_csv('../data/raw/2023_morphometrics.csv')

In [18]:
trajectories_df

,FlightID,Bird,Age,Category,Iteration,Marker,Time,Frame,X,Y,Z
2400,0201040TR01,purpleR,40,Training,1,0,0.008333,1,23.197832,-411.80453,1388.3967
2401,0201040TR01,purpleR,40,Training,1,0,0.016667,2,23.193928,-411.80440,1388.4054
2402,0201040TR01,purpleR,40,Training,1,0,0.025000,3,23.193245,-411.79657,1388.3947
2403,0201040TR01,purpleR,40,Training,1,0,0.033333,4,23.193163,-411.80087,1388.4001
2404,0201040TR01,purpleR,40,Training,1,0,0.041667,5,23.189747,-411.80713,1388.3948
...,...,...,...,...,...,...,...,...,...,...,...
9420621,1602040WC14,pinkR-turquoiseL,40,Wind_success,14,5,3.966667,476,NaN,NaN,NaN
9420622,1602040WC14,pinkR-turquoiseL,40,Wind_success,14,5,3.975000,477,NaN,NaN,NaN
9420623,1602040WC14,pinkR-turquoiseL,40,Wind_success,14,5,3.983333,478,NaN,NaN,NaN
9420624,1602040WC14,pinkR-turquoiseL,40,Wind_success,14,5,3.991667,479,NaN,NaN,NaN
9420625,1602040WC14,pinkR-turquoiseL,40,Wind_success,14,5,4.000000,480,NaN,NaN,NaN

In [17]:
for col in ['Brood','Order','Mass_40','Chord_40']:
    col_dict = pd.Series(morpho_df[col].values,index=morpho_df['Bird ID']).to_dict()
    trajectories_df[col] = trajectories_df.BirdID.map(col_dict)

AttributeError: 'DataFrame' object has no attribute 'BirdID'